.footer {
  margin: 67px 200px;
  padding-bottom: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.footer__copyright {
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer {
    font-size: 14px;
    line-height: 1.2;
    margin: 48px 19px 36px 19px;
  }
}
