.profile {
  max-width: 880px;
  color: #fff;
  display: flex;
  margin: 0 auto;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-self: center;
  margin: 36.25px 30px 0 0;
}

.profile__content {
  display: grid;
  grid-template-rows: repeat (auto-fit, 282px);
  grid-template-columns: max-content;
  grid-template-areas:
    "title title edit . . . "
    "subtitle subtitle subtitle . . .";
  grid-gap: 0;
}

.profile__title {
  margin: 62px 18px 0 3.75px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  grid-area: subtitle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__button-edit {
  background-color: transparent;
  max-width: 24px;
  max-height: 24px;
  border: 1px solid #fff;
  cursor: pointer;
  margin-top: 77px;
  grid-area: edit;
  transition: opacity 0.3s linear;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

.profile__button-add {
  background-color: transparent;
  max-height: 50px;
  border: 2px solid #fff;
  min-width: 150px;
  margin-left: auto;
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  grid-area: add;
  transition: opacity 0.3s linear;
  border-radius: 2px;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    width: 282px;
  }

  .profile__content {
    margin: 0 19px 0 19px;
  }

  .profile__image {
    margin: 38.25px 0 0 0;
    align-self: center;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.2;
    margin-top: 26.25px;
    margin-left: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 14px;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 36px;
  }

  .profile__button-edit {
    margin-top: 26.25px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
  }

  .profile__button-add {
    max-width: 100%;
    width: 282px;
    height: 50px;
    margin: 0 auto;
    align-self: center;
    padding: 17px 132px 17px 132px;
  }
}
