.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 36px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.footer__copyright {
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 14px;
    line-height: 1.2;
  }

  .footer__copyright {
    margin: 48px 19px 0px 19px;
  }
}
